nav.navbar.fixed-top.navbar-expand-md.navbar-inverse
	.container-fluid
		a.navbar-brand.fa.fa-home(href="#home")
		.navbar-toggler(type="button" data-toggle="collapse" data-target="#menu")
			span.fa.fa-bars
		.collapse.navbar-collapse#menu
			ul.nav.navbar-nav.ml-auto
				li.nav-item.ml-auto
					a.nav-link(href="#cupcakes") 作品
				li.nav-item.ml-auto
					a.nav-link(href="#cakes") 簡歷
				li.nav-item.ml-auto

					a.nav-link(href="#contact") 基本資料

header.jumbotron#home
	.container
		h1(
		data-0="opacity: 1;"
		data-300="opacity: 0;"
		) Ａngela
		h6(		data-0="opacity: 1; letter-spacing: 1px; transform: scale(1);"
		data-300="opacity: 0; letter-spacing: 1px; transform: scale(2);"
		
) 新踏入UX領域，期望成為「行銷 x 程式 x 設計」多樣化人才！
		p.btn.btn-outline-dark(
		data-0="opacity: 1; transform: scale(1);"
		data-400="opacity: 0; transform: scale(2);"
		)
			a.nav-link(href="#cupcakes") Beginning the jorney

section#cupcakes
	.container
		h3(
		data-0="transform: scale(1.5) translateX(500px)"
		data-center="transform: scale(1) translateX(0)"
		) 作品
		.row
			.col-md-4.cupcakes(
			data-100="opacity: 0;"
			data-400="opacity: 1;"
			)
				img(src="https://i.postimg.cc/k5qVV88L/IMG-8291.png", alt="")
				h6 Ｌine
				
			.col-md-5.cupcakes(
			data-100="opacity: 0;"
			data-400="opacity: 1;"
			)
   
				img(src="https://i.postimg.cc/5NVXGtVN/2020-11-11-9-21-48.png", alt="")
				h6 網頁版

			.col-md-3.cupcakes(
			data-100="opacity: 0;"
			data-400="opacity: 1;"
			)
				img(src="https://i.postimg.cc/6p0ntw1r/2020-11-11-3-46-59.png", alt="")
				h6 Figma 規劃App
				
			
			.col-md-12.cupcakes(
			data-0="opacity: 0; transform: scale(0.5)"
			data-center="opacity: 1; transform: scale(1)"
			data-top-bottom="opacity: 0; transform: scale(0.5);"
			)
				img(src="https://i.postimg.cc/2S1ZDKV0/2020-11-11-8-41-40.png", alt="")
				h5 Persona
			
		.row(
		data-0="transform: translateX(600px); opacity: 0"
		data-center="transform: translateX(0); opacity: 1"
		)
			.col-md-6.cakes
				img(src="https://i.postimg.cc/k4jT4K1y/2020-11-11-3-53-34.png", alt="")
				h4 使用者訪談
				
			.col-md-6.cakes
				img(src="https://i.postimg.cc/k4jT4K1y/2020-11-11-3-53-34.png", alt="")
				h4 使用者訪談
				
section#cakes
	.container
		h3(
		data-200="transform: scale(2) translateX(600px)"
		data-center-bottom="transform: scale(1) translateX(0)"
		) 事前調查


        

				
section#contact
	.container-fluid
		.row
			.col-md-4.contact
				h6 With my background of coding, I believe I have a great ability to communicate and collaborate better with the engineering team, Finding the best solution between design and coding. Moreover, with multidisciplined professional across marketing, coding, and UX, I would like to use it to design the best user flow for the users.
			.col-md-3.contactimg(
			data-bottom-top="filter: grayscale(100%)"
			data-center="filter: grayscale(0%)"
			)
			

			.col-md-5.contact
				h1 Angela Cheng
				h6 Position: UX Design/ PM <br><br>
				h6 Phone:  0972755172
				h6 E-mail: m6uses@gmail.com
